<% if !user_signed_in? %>
<div class="container" >
<div class="jumbotron">
  <p>review aftr login </p>
  <p><%= link_to "sign up new user",new_user_registration_path,class: "btn btn-primary btn-lg" %></p>
</div>
<% end %>
<div class"row">
  <% @movies.each do |movie| %>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <%= link_to (image_tag movie.image.url(:medium),class: 'image'),movie %>
    </div>
  </div>
  <% end %>
</div>
</div>



<%= link_to 'New Movie', new_movie_path %>
